* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgba(0,0,0,0.85);
    color: white;
}

.Navbar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    border-bottom: 1px solid grey;;
}

.Menu-Box{
    padding: 0px 10px;
    cursor: pointer;
}

.Name-Box{
    padding: 0px 15px;
}
#Name {
    font-size: 20px;
    color: white;
    text-decoration: none;
}