@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgba(0,0,0,0.85);
    color: white;
}

.Navbar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    border-bottom: 1px solid grey;;
}

.Menu-Box{
    padding: 0px  0px;
    cursor: pointer;
}

.Name-Box{
    padding: 0px 15px;
}
#Name {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.Main {
    padding: 70px 20px;
    font-family: 'Inter';
}

#Title {
    font-size: 34px;
}

.Calculator-Box {
    width: auto;
    padding: 30px 30px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



